body {
    background-color: #EAF6F6;
}
hr{
    border-style: none;
    border-top: dotted;
    border-color: grey;
    background-color: #EAF6F6;
;
    border-width: 5px;
    width: 5%;
    
}

h1,h3{
    color: #66BFBF;
}