.top{
    background-color: #E4F9F5;
    padding-top: 110px;
}
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1{
    
    margin: 50px auto 0 auto;   
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
     
    
}

h2{
    font-family: 'Montserrat',sans-serif;
    color: #66BFBF;
    margin-top: 10px;
    font-size:40px;
}

h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
    font-size:1.5rem;
}

a{
    color: #11999E;

}

.bottom-cloud{
    position: absolute;
    left:200px;
    top:400px;
}
.top-cloud{

    position: absolute;
    right:400px;
    top:50px;
}

.pro
{
    font-size: 2.5rem;
    font-weight: normal;
    margin: 20px;
}

.skill{
    width:25%;
    float: right;
    margin-left: 30px;
    
}
.python{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.dp{
    width:25%;
    margin: 30px auto 0 auto;
    
}

.profile{
    
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}


hr{
    
    border-style:none;
    height :10px;
    margin-top:50px;
    margin-bottom: 50px;
    border-top: dotted ;
    border-width: 10px;
    border-color: #EAF6F6;
    width: 5%;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px;
    margin-top: 50px;
}

.footer-link{
    margin:20px;
    font-family: 'Montserrat',sans-serif;
    color:#11999E;
    font-weight: bold;
    text-decoration: none;
}

.copyright{
    font-family: 'Montserrat',sans-serif;
    margin: 30px;
    color:#EAF6F6;
    font-weight: bold;
    font-size:12px;
    margin-bottom: 0px;

}

.btn{

    background-color:#11999E;
    border-radius: 20%;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;

}